Python:
    
    Python general purpose high level programming language.
    Object oriented programming
    language with dynamic semantics
    syntax easy as compare to any other language
    Interpreted Programming Language

Introduction:
    
    Guido Van Rassum in 1989 first version introduces in 1994,(NRI)
    National Research Institude , Netherland.

    BBC(British Broadcase Channel) Months Python Flying Circus.

In [2]:
print("hii")
print("Hello","How are you")
print("hi\nhow are you")
print(10+20)
print(10>20)
print("10")
print(10)

hii
Hello How are you
hi
how are you
30
False
10
10

Variables:

Variable is name which is use to store the values.

In [3]:
a=10
b=1
print(id(a))
print(id(b))

140706929173576
140706929173288

Operators:

     Operators are special symbols which is used to perform some specific operation

     Airthmatic Operators: +,-,*,/,//,%,**
     Assignment Operators:
     Comparision Operators:
     Membership Operators:
     Bitwise Operatord:

In [4]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #modules
print(a//b) # flor divison
print(a**b)#exponent operator

30
-10
200
0.5
10
0
100000000000000000000

In [5]:
print(10>11)
print(10>=10)
print(10<11)
print(10<=11)
print(10==10)

False
True
True
True
True

In [6]:
print(5>10 and 5<10)
print(5>10 or 5<10)
print(not(5>10 or 5<10))

False
True
False

In [7]:
name = 'nisha'
print('ni' in name)

True

In [8]:
print(10&2)
print(10|2)
print(10^2)

2
10
8

Data Types:

       Numeric:integer ,float ,complex
       Sequence/Order:string,list,tuple
       unorder:set,dictionary

In [9]:
a=10 #integer
b=2.2 #float
c=1+2j #complex
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [10]:
print("Real number is c:",c.real)
print("Imaginary number in c:",c.imag)

Real number is c: 1.0
Imaginary number in c: 2.0

In [11]:
st="hello how are you?"
st1='hello how you?'
print(st,st1)

hello how are you? hello how you?

In [12]:
st1='''hello how's your life? i am good'''
print(st)
print(st1)

hello how are you?
hello how's your life? i am good

In [13]:
st="hello how are you?"
st1='''hello how's your life? i am good'''
st.find("a")

10

In [14]:
st="hello how are you?"
st1='''hello how's your life? i am good'''
print(st)
print(st1.find("a"))
print(st.capitalize())
st.replace("how","hii")
st.isalpha()

hello how are you?
25
Hello how are you?

False

In [17]:
st="hello how are you?"
st1='''hello how's your life? i am good'''
st2="takfds"
print(st2.isalpha())
st1.isuper()

True

AttributeError: 'str' object has no attribute 'isuper'

In [18]:
st = "hello how are you?"
st1 = '''hello how's your life? i am good'''
st2="takfds"
print(st2.isalpha())
st.join("I am not fine.")

True

'Ihello how are you? hello how are you?ahello how are you?mhello how are you? hello how are you?nhello how are you?ohello how are you?thello how are you? hello how are you?fhello how are you?ihello how are you?nhello how are you?ehello how are you?.'

In [19]:
st="hello how are you?"
print(st.join("12345"))

1hello how are you?2hello how are you?3hello how are you?4hello how are you?5

List:

  Is a order sequence of items
  It is one of most used datatype in Python
  it is mutable in nature
  It store different type of values like int,float,string,list etc.

In [20]:
l=[1,2,3,'randhir','raj',11.1]
print(l)
print(type(l))

[1, 2, 3, 'randhir', 'raj', 11.1]
<class 'list'>

In [21]:
l[3]

'randhir'

In [22]:
l[1]>l[2]

False

In [26]:
l.append('ranbir')
l[3] = 'ranveer'
l

[1, 2, 3, 'ranveer', 'raj', 11.1, 'ranbir', 'ranbir', 'ranbir', 'ranbir']

In [27]:
l1=[10,11,12,'rajvee']
l.extend(l1)
print(l)

[1, 2, 3, 'ranveer', 'raj', 11.1, 'ranbir', 'ranbir', 'ranbir', 'ranbir', 10, 11, 12, 'rajvee']

In [28]:
l.extend(l1)
print(l)

[1, 2, 3, 'ranveer', 'raj', 11.1, 'ranbir', 'ranbir', 'ranbir', 'ranbir', 10, 11, 12, 'rajvee', 10, 11, 12, 'rajvee']

In [31]:
p=l.pop(5)
p
l

[1,
 2,
 3,
 'ranveer',
 'raj',
 'ranbir',
 'ranbir',
 10,
 11,
 12,
 'rajvee',
 10,
 11,
 12,
 'rajvee']

In [32]:
n=l.pop(6)
print("temoved element",n)
print("New list:",l)

temoved element ranbir
New list: [1, 2, 3, 'ranveer', 'raj', 'ranbir', 10, 11, 12, 'rajvee', 10, 11, 12, 'rajvee']

In [33]:
l.remove("ranbir")
print(l)

[1, 2, 3, 'ranveer', 'raj', 10, 11, 12, 'rajvee', 10, 11, 12, 'rajvee']

Day2
Tuple:

   It use to store data of different type.
   It is immutable in nature.
   It is suited for memory optimization.

In [2]:
t = ('randhir',1,2,3,1.1,[1,2,3])
print(t)
print(type(t))

('randhir', 1, 2, 3, 1.1, [1, 2, 3])
<class 'tuple'>

In [36]:
t.count(1)

1

In [3]:
t.index(1)

1

In [5]:
t[5][1]

2

Dictionary:
    It is unordered collection of key-value pairs
    {}

In [6]:
d={'name':'randhir','age':20,'address':'jaipur',1:2}
print(d)
print(type(d))

{'name': 'randhir', 'age': 20, 'address': 'jaipur', 1: 2}
<class 'dict'>

In [9]:
d1={'name':['randhir','ranbir','ranveer']}
d1['name'][1]

'ranbir'

In [8]:
s={'randir':20,'randhir':21}
s

{'randir': 20, 'randhir': 21}

In [10]:
d1={'name':['randhir','ranbir','ranveer']}
d1['name'][:]

['randhir', 'ranbir', 'ranveer']

In [12]:
emp_dir = {'sale':[{'name':'randhir' ,'salary':2000},
                   {'name':'ranbir','salary':3000},
                   {'name':'ranveer','salary':4000}],
                   'marketing':[{'name':'abhi','salary':5000},
                                {'name':'abhinav','salary':6000},
                                {'name':'abhishek','salary':5500}
                                ],
                                'Software development':[{'name':'Nil','salary':2100},
                                                        {'name':'Nitin','salary':2200},
                                                        {'name':'Mukesh','salary':25-00}]}

In [13]:
emp_dir

{'sale': [{'name': 'randhir', 'salary': 2000},
  {'name': 'ranbir', 'salary': 3000},
  {'name': 'ranveer', 'salary': 4000}],
 'marketing': [{'name': 'abhi', 'salary': 5000},
  {'name': 'abhinav', 'salary': 6000},
  {'name': 'abhishek', 'salary': 5500}],
 'Software development': [{'name': 'Nil', 'salary': 2100},
  {'name': 'Nitin', 'salary': 2200},
  {'name': 'Mukesh', 'salary': 25}]}

In [14]:
emp_dir['sale']

[{'name': 'randhir', 'salary': 2000},
 {'name': 'ranbir', 'salary': 3000},
 {'name': 'ranveer', 'salary': 4000}]

In [15]:
emp_dir['Software development']

[{'name': 'Nil', 'salary': 2100},
 {'name': 'Nitin', 'salary': 2200},
 {'name': 'Mukesh', 'salary': 25}]

In [17]:
name= emp_dir['Software development']
name[1:]

[{'name': 'Nitin', 'salary': 2200}, {'name': 'Mukesh', 'salary': 25}]

In [18]:
name[:][0]

{'name': 'Nil', 'salary': 2100}

In [19]:
name=emp_dir['Software development']
name[:][:]

[{'name': 'Nil', 'salary': 2100},
 {'name': 'Nitin', 'salary': 2200},
 {'name': 'Mukesh', 'salary': 25}]

In [20]:
name[:][1:]

[{'name': 'Nitin', 'salary': 2200}, {'name': 'Mukesh', 'salary': 25}]

In [21]:
name[:][:1]

[{'name': 'Nil', 'salary': 2100}]

In [22]:
name[:][:2]

[{'name': 'Nil', 'salary': 2100}, {'name': 'Nitin', 'salary': 2200}]

In [23]:
name[:][:][1]

{'name': 'Nitin', 'salary': 2200}

In [24]:
name[0]['name']

'Nil'

In [25]:
name=emp_dir['Software development']
for i in range(3):
    print(name[i]['name'])

Nil
Nitin
Mukesh

In [27]:
name=emp_dir['Software development']
for i in range(3):
    print(name[i]['name'],name[i]['salary'])

Nil 2100
Nitin 2200
Mukesh 25

In [32]:
student= {'randhir':40,'raj':30,'rajvee':22,'randhir':45}
student.values()
student.keys()

dict_keys(['randhir', 'raj', 'rajvee'])

In [41]:
student= {'randhir':40,'raj':30,'rajvee':22,'randhir':45} # not give correct output
n=40
for key in student:
    print("hi",key)
    if n==student[key]:
        print(key)

hi randhir
hi raj
hi rajvee

user input:
input()

In [42]:
n=eval(input("Enter any +ve number"))
print(n)
print(type(n))

88
<class 'int'>

conditional statement:
    if statement
    if else statement
    if elif statement

In [43]:
n=int(input())
if n%2==0:
    print(f"{n} is even")
else:
    print(f"{n} is odd")

7 is odd

In [44]:
n=int(input())
if(n & 1) == 0:
    print(f"{n} is even")
else:
    print(f"{n} is odd")

99 is odd

In [2]:
# palindrome
name=input("enter name")
if name == name[::-1]:
    print("Palindrome")
else:
    print("not palindrome")

not palindrome

In [3]:
name = input("Enter name")
rev_name = []
for i in name:
    rev_name.append(i)
print(rev_name)
temp=[]
temp.extend(rev_name[::-1])
print(temp)
if rev_name == temp:
    print("Palindrome")
else:
    print("Not Palindrome")

['n', 'i', 's', 's', 'i', 'n']
['n', 'i', 's', 's', 'i', 'n']

In [ ]:
n=input()
revstr = ''.join(reversed(n))
if (n== revstr):
    print("This is palindrome")
else:
    print("this is not palindrome")

In [6]:
l=[1,2,3,4,5]
print(l[::])

[1, 3, 5]

In [7]:
l=[0,1,2,3,4,5]
print(l[::-1])
print(l[-3])
print(l[-3])
print(l[-1:-4:-1])

[5, 4, 3, 2, 1, 0]
3
3
[5, 4, 3]

In [ ]:
percentage = int(input("Enter percentage"))
if percentage >= 75 and percentage<=100:
    print("A")
elif percentage >= 65 and percentage<75:
    print("B")
elif percentage >=55 and percentage<65:
    print("C")
elif percentage < 55:
    print("Fail")
else:
    print("Plz enter correct percentage....!")

In [ ]:
percentage = int(input("Enter %"))
if percentage >=75 and percentage <=100:
    print("A")
elif percentage >=65 and percentage < 75:
    print("B")
elif percentage >=55 and percentage < 65:
    print("C")
elif percentage < 55:
    print("Fail")
else:
    print("Please enter correct %")

While: Iteration dont know in advance then we use while 
For: If we know iteration in advance then we use for also for loop is used
for list,tuple,set and dictionary

In [8]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [9]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [11]:
l1 = ['ranbir',1,2,3,10,11.1,12.1,'pqr']
for i in l1:
    print(i)

ranbir
1
2
3
10
11.1
12.1
pqr

In [12]:
i=1
while i <=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

While loop only apply for conditiions not iterate value.

Day3 24-02-2024

In [1]:
per1 = int(input("Enter a percentage"))
if per1>=80 and per1<100:
    print("a")
if per1>=70 and per1<80:
    print("b")
if per1 >=60 and per1 < 70:
    print("c")
else:
    print("fail")

b
fail

For :
When we know the iteration in advance we make a use of for loop
We make a use of for loop when we want to perform the operation on Data Structure list,tuple,set, dict.

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(21,41,2):
    print(i)

21
23
25
27
29
31
33
35
37
39

In [5]:
for i in range(50,20,-2):
    print(i)

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22

In [6]:
for i in range(40,20,-2):
    print(i)

40
38
36
34
32
30
28
26
24
22

In [7]:
for i in range(50,60,3):
    print(i)

50
53
56
59

In [8]:
for i in range(1,5):
    print(i)

1
2
3
4

In [9]:
for i in range(25,31):
    print(i**3)

15625
17576
19683
21952
24389
27000

List Comprehension:

In [10]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
for x in range(11):
    x

In [14]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
l1 = [x for x in range(4,24,4)]
l1

[4, 8, 12, 16, 20]

In [16]:
sqr_4 = [x*4 for x in range(1,11)]
sqr_4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [17]:
# Note: Used for odd and even number
n= int(input("Enter number"))
if n&1 == 0:
    print("even")
else:
    print("odd")

odd

In [18]:
for x in range(50,61):
    if (x & 1)==0:
        print(f"{x} is even")

50 is even
52 is even
54 is even
56 is even
58 is even
60 is even

In [19]:
# Even no find
l1= [x for x in range(50,60) if x&1==0]
l1

[50, 52, 54, 56, 58]

In [20]:
l1 = [x for x in range(50,61) if (x & 1) == 0]
l1

[50, 52, 54, 56, 58, 60]

In [21]:
l1 = [21,44,12,66,4,21,31,77,91]
l2 = [x for x in l1 if (x& 1) ==0]
l2

[44, 12, 66, 4]

In [22]:
for i in l2:
    print(i)

44
12
66
4

In [23]:
l3 = [i-3 for i in l2]
l3

[41, 9, 63, 1]

In [24]:
for l3 in l2:
    print(l3-3)

41
9
63
1

In [25]:
l1 = [1,5,34,74,3,8,87]
l2=[x**2 if x&1 ==0 else x**3 for x in l1]
l2

[1, 125, 1156, 5476, 27, 64, 658503]

In [26]:
name = ['randhir','ranbir','ranveer']
surname=['gawai','kapoor','singh']
for i,j in zip(name,surname):
    print(f"My name is {i} and my surname is {j}")

My name is randhir and my surname is gawai
My name is ranbir and my surname is kapoor
My name is ranveer and my surname is singh

In [27]:
n1 = [1,2,3,4,5]
n2 = [1,4,9,16,25]
result = zip(n1,n2)
result_list = list(result)
print(result_list)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [28]:
n1 = [1,2,3,4,5]
n2 = [1,4,9.16,25]
n3 = list(zip(n1,n2))
n3

[(1, 1), (2, 4), (3, 9.16), (4, 25)]

In [30]:
n1 = [1,2,3,4,5]
n2 = [1,4,9,16,25]
n3 = [(x,y) for x,y in zip(n1,n2)]
n3

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [31]:
# Dic Compression
d = {x:x**2 for x in range(6)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [32]:
d = {x:x**2 for x in range(6)}
d1 = {k:v for k,v in d.items() if v&1 ==0}
d1

{0: 0, 2: 4, 4: 16}

import random
print(random.random()) # it generate the random value between 0 to 1(1 is not included)
print(random.randint(1000,9999)) # it will generate the random number from given argument
print(random.uniform(10,20)) # it will generate the random float value from given argument
print(random.randrange(1,5)) # it will generate the random number from given argument not include last value
print(random.choice(s))

In [3]:
import random
print(random.random())
print(random.randint(1,10))

0.6592487909039915
4

In [7]:
print(random.randint(1,6))
print(random.uniform(1,6))
print(random.randrange(1,6))
name = ['nisha','satya','aman','aks']
print(random.choice(name))

3
3.1596489857850134
3
satya

Function:

Function is a block of code which is used to perform some specific operation,once the function is defined we can called it whenever we required.

Predefine function

User define function:
Function returning value
Function non returning value
Function with argument
Function without argument

In [8]:
def sum():
    print(10+20)  # function without argument and not returnng value
    print("above is result of 10+20")
sum()

30

In [9]:
# Function with argument without returning
def sum1(a,b):
    print(a+b)
    print(f"above is result of {a} + {b}")
sum1(1,7)

8
above is result of 1 + 7

In [11]:
def sum2(a,b):
    return(f"{a+b} is result of {a} + {b}")
sum2(5,10)
sum1(3,8)

11
above is result of 3 + 8

In [12]:
def sum2(a,b):
    return(f"{a+b} is result of {a} + {b}") # return always used for print
print(sum2(5,10))
sum1(30,20)
a=10
a

15 is result of 5 + 10
50
above is result of 30 + 20

10

Day 4  25/02/2024
Recusion Function:

Recursive function is a function which call itself in order to solve the problem

In [17]:
f=1
for i in range(1,6):
    f=i*f
    print(f)

1
2
6
24
120

In [18]:
f=1
i=1
while i <=5:
    f=f*i
    i=i+1
    print(f)

1
2
6
24
120

In [20]:
def fact(n):
    f=1
    for i in range(1,n):
        f=i*f
        print(f)
fact(11)

1
2
6
24
120
720
5040
40320
362880
3628800

In [21]:
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)

fact_res(5)

120

In [22]:
# factorial by recursion function
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)
n = int(input("Enter value "))
fact_res(n)

6

In [23]:
# sum by using recursion function
def sum_res(n):
    if n==0:
        return 0
    else:
        return n+ sum_res(n-1)
n = 5
sum_res(n)

15

In [ ]:
# sum by using recursion function
def sum_res(n):
    if n==0:
        return 0
    else:
        return n+ sum_res(n-1)
n = int(input("Enter value"))
sum_res(n)

In [24]:
# Fibonacci Series
a,b=0,1
print(a)
print(b)
for i in range(5):
    c=a+b
    print(c)
    a,b=b,c

0
1
1
2
3
5
8

In [25]:
# fibnaoci series
a,b=0,1
print(a)
print(b)
for i in range(5):
    c=a+b
    print(c)
    a,b=b,c

0
1
1
2
3
5
8

In [27]:
def fibo(n):
    a,b=0,1
    '''print(a)
    print(b)'''
    for i in range(n):
        c=a+b
        print(c)
        a,b=b,c
fibo(10)

1
2
3
5
8
13
21
34
55
89

Lambda function

In [28]:
add = lambda a,b:a+b
print(add(20,30))

50

In [29]:
even_odd = lambda n:"even" if n&1==0 else "odd"
even_odd(2)

'even'

In [30]:
fact = lambda n: 1 if n==0 else n*fact(n-1)
fact(5)

120

In [31]:
list = [1,2,3,4,5]
f = lambda listx: [print(x * 2) for x in listx]
f(list)

2
4
6
8
10

[None, None, None, None, None]

In [32]:
sq = lambda s,e:[n**2 for n in range(s,e)]
sq(5,11)

[25, 36, 49, 64, 81, 100]

In [33]:
import requests
API_Key = '0efbaff5c775f0ad73f0a7c714f0928e'
city_name=input("Enter city name")
wether_data=requests.get(f"https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={API_Key}")

In [ ]:
import requests
API_Key = '0efbaff5c775f0ad73f0a7c714f0928e'
city_name=input("Enter city name")
wether_data=requests.get(f"https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={API_Key}")

if wether_data.json() ['cod'] == '404':
    print("Enter correct city name")
else:
    weather= wether_data.json()['weather'][0]['main']
    print(wether_data)
    temp= wether_data.json()['main']['temp']
    print(temp)
    humidity= wether_data.json()['main']['humidity']
    print(humidity)

Day 5  02/03/2024
Polymorphism

Polymorphism: One name many

It enables to perform different action or behavior based on the actual type of an object at run times

Static Ploymorphism(Complie time): Overloading
Dynamic Polymorphism(run time):Overriding

Overriding: It is mostly used for memory reducing process
            
            Method overriding occures when a derived class defines a method with the same name as a method in its super class.

class : collection of data members and member function
object: blue print of class
         It is used to call the data member and members function of that class

In [34]:
class calculator():
    a=10
    b=20
    def sum(self):
        print("Sum of a and b:",self.a + self.b)
c = calculator()
print(c.a)

10

In [38]:
class calculator():
    a=10
    b=20
    def sum(self):
        print("Sum of a and b:" ,self.a + self.b)
c= calculator()
c1= calculator()

print(c.a)
print(c.b)
c.sum()
print(id(c))
print(id(c1))

10
20
Sum of a and b: 30
1493604776592
1493604773840

self: It is used to store current object of a class

Overriding Concept

In [39]:
class shape:
    def area(self):
        pass
class circle(shape):
    def area(self):
        self.r = int(input("Enter radius of circle"))
        print("Area of circle :",3.14*self.r*self.r)
class rect(shape):
    def area(self):
        self.l = int(input("Enter length"))
        self.b= int(input("Enter bredth"))
        print("Area of rectangle :",self.l*self.b)
c=circle()
c.area()

Area of circle : 452.15999999999997

In [40]:
class shape:
    def area(self):
        pass
class circle(shape):
    def area(self):
        self.r = int(input("Enter radius of circle"))
        print("Area of circle :",3.14*self.r*self.r)
class rect(shape):
    def area(self):
        self.l = int(input("Enter length"))
        self.b= int(input("Enter bredth"))
        print("Area of rectangle :",self.l*self.b)
c=circle()
c.area()
r=rect()
r.area()

Area of circle : 50.24
Area of rectangle : 14

Task 
        account (Create account-> Bal   && withdraw)
1. Saving(withdraw)   2.Current(withdraw)  3.Investment(withdraw)

In [41]:
class account:
    def create_acc(self):
        self.bal = int(input("Enter balance"))
        print("Balance:",self.bal)
class saving_acc(account):
    def withdraw(self):
        self.wa = int(input("How much amount you want to withdraw?"))
        if self.wa >0 and self.wa<=self.bal:
            self.bal = self.bal - self.wa
            print("Balnce after withdraw: ",self.bal)
        else:
            print("You dont have sufficient balance")
class current_acc(account):
    def withdraw(self):
        self.wa = int(input("How much amount you want to withdraw?"))
        if self.wa>0 and self.wa<=self.bal*0.9:
            self.bal=self.bal - self.wa
            print("Balnce after withdraw:",self.bal)
        else:
            print("You dont have sufficient balance")

class investement_acc(account):
    def withdraw(self):
        self.wa=int(input("How much amount you want to withdraw?"))
        if self.wa>0 and self.wa<= self.bal -100:
            self.bal = self.bal - self.wa
            print("Balance after withdraw:",self.bal)
        else:
            print("You dont have sufficient balance")

def withdraw(self):
    self.wa = int(input("How much amount you want to withdraw?"))
    if self.wa>0 and self.wa<=self.bal -100:
        self.bal = self.bal - self.wa
        print("Balance after withdraw :",self.bal)
    else:
        print("You dont have sufficient balance")

acc = int(input('''Which account you want to open? 
                Press1: saving account 
                Press2: Current Account
                Press3: Investement account'''))
c=current_acc()
s=saving_acc()
i=investement_acc()
if acc==1:
    s.create_acc()
    s.withdraw()
elif acc==2:
    c.create_acc()
    c.withdraw()
elif acc ==3:
    i.create_acc()
    i.withdraw

Balance: 1000
Balnce after withdraw:  800

Overloading:

        In Python ,if a method is written such that it can perform  more than one task ,it is called method overloading 
        When we have same function name and same behaviour but diffreent number of argument we call it as function overlaoding

In [44]:
def sum(*args):
    s=0
    print(type(args))
    for i in args:
        for i in args:
            s=i+s
    print(s)
sum(1,2,3)
sum(5,6)
sum(10,20,40,60)

<class 'tuple'>
18
<class 'tuple'>
22
<class 'tuple'>
520

           Task : Find Salary              
                          Employee

1.Manager(Exp)       2.Developer(Exp&Per)     3.Designer(E+P+R(review))

In [48]:
class emp:
    def emp_info(self):
        self.salary=int(input("What is your current salary?"))
class type_of_emp(emp):
    def cal_salary(self,*args):
        self.l=len(args)
        if self.l ==1:
            self.salary += self.salary*10*args[0]
            print("Salary of manager after increment:",self.salary)
        elif self.l == 2:
            self.salary+=self.salary*10*args[0]+500*args[1]
            print("Salary of developer after increment:",self.salary)
        elif self.l == 3:
            self.salary += self.salary*10*args[0]+500*args[2]
            print("Salary of designer after increment:",self.salary)

t=type_of_emp()
t.emp_info()

t.cal_salary(2,4)
t.cal_salary(4,3,3)

Salary of developer after increment: 23000
Salary of designer after increment: 944500

Day 6 03/03/2024
Task

1. Define the problem

   The problem statement asks us to develop a Python class that represnts a shopping cart.This class should allow users to add items to the cart,with varying parameters like name,quantity and price.

2. Identify the Requirement

   Based on the problem statement ,we need to create a class called ShoppingCart with methods for adding items .The add_items method should 
   support method oveloading , allowing users to add items with diffrent parameters combinations

3. Design the Solutions:

   We'll design the solutions by creating a class named ShoppingCart with methods for adding items.To implement methods oveloading ,we'll define multiple versions of the add_items method that can handle diffrent parameter combinations.

4. Implement the solutionsl;

    We'll start by defining the ShoppingCart class with an empty items list in the constructor(__init__).Then ,we'll implement the add_item method by overloading it to support diffreent parameters combinations.

5. Test the solutions:
    
    After implementiong the shoppingCart class and it's method,we'll test the solutions by installing the class ,adding items to the cart using different parameters combinations , and displaying the contents of the cart to verify that method oveloading works correctly.

6. Refine the soltuions (if needed) 
      If any issue during testing,we'll refine the soltuions by debugging and adjusting the implemetation as necessary to ensure that methods overloading for adding items functions correctly.

In [53]:
class shoppingCart:
    def __init__(self):
        self.item=[]

    def add_items(self,*args):
        self.l=len(args)
        if self.l==1:
            self.d={"Item name":args[0]}
            self.item.append(self.d)
            print(self.item)
        elif self.l == 2:
            self.d={"Item name":args[0],"Qunatity":args[1]}
            print(self.item)
        elif self.l ==3:
            self.d={"Item name":args[0],"Quantity":args[1],"Price":args[2]}
            self.item.append(self.d)
            print(self.item)
        else:
            print("Please enter  proper input")
s=shoppingCart()
s.add_items('Maggie')
s.add_items("Ice Cream",2,25)

[{'Item name': 'Maggie'}]
[{'Item name': 'Maggie'}, {'Item name': 'Ice Cream', 'Quantity': 2, 'Price': 25}]

Constructor:


          It is a special member function of a class ,we call it special beacuse constructor automatically get called when object of that
          class is created.

          We create constructor like __init__()

          We use constructor to initialize the values

          Here we write a code which get executed without user permission.

In [54]:
class demo:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        print(f"Name:{self.name} Age:{self.age}")
d= demo('nisha',22)

Name:nisha Age:22

1. Define the Problem:
  The problem statement asks us to create a Python class representing a movie. This class should allow initialization with varying parameters such as title, director, genre, and release year. Additionally, we need to implement constructor overriding to handle different parameter combinations.
2. Identify the Requirements:
  Based on the problem statement, we need to design a class named Movie with a constructor that accepts varying parameters for initializing movie objects. The constructor should be able to handle different combinations of parameters including title, director, genre, and release year.
3. Design the Solution:
  We'll design the solution by creating a class named Movie with a constructor (__init__) that accepts varying parameters using constructor overriding. We'll define multiple versions of the constructor to handle different parameter combinations.

4. Implement the Solution:
  We'll start by defining the Movie class and implementing constructor overriding to handle different parameter combinations. Each version of the constructor will initialize the corresponding attributes of the movie object.
5. Test the Solution:
  After implementing the Movie class, we'll test the solution by creating movie objects using different parameter combinations and verifying that the objects are initialized correctly.
6. Refine the Solution (if needed):
  If any issues arise during testing, we'll refine the solution by debugging and adjusting the implementation as necessary to ensure that constructor overriding works correctly for initializing movie objects with varying parameters.

In [55]:
class movie:
    def __init__(self,*args):
        self.l = len(args)
        if self.l ==1:
            self.title = args[0]
            print(f"Title of movie{self.title}")
        elif self.l ==2:
            self.title = args[0]
            self.director = args[1]
            print(f"Title of movie {self.title} and Director is {self.director}")
        elif self.l==3:
            self.title=args[0]
            self.director= args[1]
            self.genre=args[2]
            print(f"Title of movie {self.title}, Director is {self.director}")

m= movie("Bahubali","Raja Moli")
m1=movie('Krish')

Title of movie Bahubali and Director is Raja Moli
Title of movieKrish

Task2

Bookstore Hierarchy:

Create a Python class Book with a constructor that accepts parameters like title ,author ,and price .Implement subclass such as fictionFook and NonFiction Book that inherit from Book and have their own constructor .Use 
constructor overriding to handle additional parameters specific to each genre of book.

In [1]:
class book:
    def __init__(self,title,author,price):
        self.title = title
        self.author= author
        self.price = price
        #print(f"Title:{self.title} Author {self.author} Price {self.price}")
class FictionBook(book):
    def __init__(self,title,author,price,genre):
        super().__init__(title,author,price)
        self.genre = genre
        print(f"Title:{self.title} Author {self.author} Price {self.price}")
class NonFictionBook(book):
    def __init__(self,title,author,price,story):
        super().__init__(title,author,price)
        self.story = story
        print(f"Title:{self.title} Author {self.author} Price {self.price}")

fb=FictionBook('xyz','pqr',120,'abc')

Title:xyz Author pqr Price 120

Encapsulation:

   It helps in organizing and controlling access to the attributes and methods of a class ,providing data hiding and abstractions.

In [5]:
class demo:
    a=10
    def demo_fun(self):
        print('demo method')
d=demo()
d.a

10

In [8]:
# not working program
class demo:
    __username='nisha'
    __password:'abc'
    def __init__(self):
        print(self.__password)
        self.__demo_fun()
    def __demo_fun(self):
        print("demo method")
        print("password",self.__password)
d=demo()

AttributeError: 'demo' object has no attribute '_demo__password'

Types Inheritance
Simple,Multiple,Multilevel,Hierachical Inheritance

Pickle:

     Pickle is a process allows you to save complex data structure such as list ,tuple, set,dict ,custom objects into file or other storage medium 


     Once pickled the data can be stored or transmitted across different system or platform


Serilizing: Use to store the data with dump()
Deserilizing: Use to read the data with load()

In [9]:
l=['nish','nishu','nishi']
import pickle
with open('demo_pickle.pkl','wb') as file:
    pickle.dump(l,file)

In [10]:
with open('demo_pickle.pkl','rb') as file:
    d=pickle.load(file)
    print(d)

['nish', 'nishu', 'nishi']

In [11]:
with open('demo_file.txt','w') as file:
    file.write('''Hi this is nisha
               I am performing file Handling''')

In [15]:
with open('demo_file.txt','r') as file:
    t=file.read()
    print(t)

Hi this is nisha
               I am performing file Handlingthis is second time i am writing this filethis is second time i am writing this file

In [14]:
with open('demo_file.txt','a') as file:
    file.write("this is second time i am writing this file")

In [16]:
from datetime import datetime
time=datetime.now()
year=datetime.now().year
t=datetime.now().time()
print(time)
print(year)
print(t)

2024-03-19 17:50:16.211603
2024
17:50:16.211603

In [17]:
import datetime

d1= datetime.date(2022,1,1)
d2 = datetime.date(2024,3,3)
diff = d2 - d1
print("Difference :",diff.days)

Difference : 792