Python by Rishu Sir

In [1]:
for i in range(10):
     print(i,'Hello')

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello

In [2]:
# print all the even numbers till 50 using loops
for i in range(11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [3]:
for i in range(1,11):
    if i%2 ==0:
        print(i)

2
4
6
8
10

In [4]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [5]:
for i in range(1,51):
    print(i)
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10
11

In [6]:
for i in range(1,11):
    if i>5:
        break
    print(i)

1
2
3
4
5

In [7]:
#Python does not support pre and post increment
a=10
++a

10

In [8]:
a++

SyntaxError: invalid syntax (1277751513.py, line 1)

In [10]:
n=100
while n>0:
    b=input("Choose between attck of heal")
    if b =="attck":
        n=n-20
        print(n)
    if b=="heal":
       n = n+10
       print(n)
    if n<=0:
        print("dead")

Day 30/12/2023
Agenda:
   --> Functions
   -->Lambda
   -->list
   -->tuple
   -->dict
   -->set

In [1]:
print('hello')

hello

In [2]:
def greet():
    print("hello") # without function declare code given summation error
greet()

hello

In [3]:
def greet(fname,lname):
    print('hello',fname)
    print('hello',lname)
greet('Nisha','Shukla')

hello Nisha
hello Shukla

In [ ]:
greet(lname='Singh','Rohan') #keyword argument

In [5]:
greet('r',lname='s')

hello r
hello s

In [6]:
def greet(fname='NA',mname='NA',lname='NA'):
    print('hello',fname)
    print('hello',mname)
    print('hello',lname)
greet()

hello NA
hello NA
hello NA

In [7]:
greet('r',lname='s')

hello r
hello NA
hello s

In [9]:
def addn(a,b):
    s=a+b
addn(2,3)
print(s) # its not print bcoz s have block scope and getting error

NameError: name 's' is not defined

In [10]:
def addn(a,b):
    s=a+b
    return s
addn(2,3)

5

In [11]:
def addn(a,b):
    s=a+b
    return s
    return d
r = addn(2,3)
r

5

In [13]:
r=addn(2,3)**2*(addn(2,3))
r

125

In [14]:
def addn(a,b):
    a=a+b
    d=a-b
    return a,d
addn(2,3)

(5, 2)

In [15]:
def addn(a,b):
    s=a+b
    d=a-b
    return s,d
x,y = addn(2,3)
print(x)
print(y)

5
-1

In [16]:
def addn(a,b):
    s=a+b
    d=a-b
    p=a*b
    return s,d,p
addn(2,3)

(5, -1, 6)

In [18]:
x,y,z=addn(2,3)
print(x)
print(y)
print(z)

5
-1
6

In [19]:
7+6

13

In [20]:
'7'+ '8'

'78'

In [21]:
def fullName(fname='NA',mname='NA',lname='NA'):
    f=fname + '' + mname+''+ lname
    return f
fullName('Nishu','Kumari','Shukla')

'NishuKumariShukla'

In [22]:
lambda fname,lname:fname+lname

In [23]:
concat = lambda fname,lname:fname+lname
concat('Rishi','Soni')

'RishiSoni'

In [25]:
concat=lambda fname,lanme:fname + ' ' + lanme
concat('Nishi','Shukla')

'Nishi Shukla'

In [26]:
x=lambda:print('hi')
x()

hi

In [27]:
marks=[12,10,13,17,5,9,1,8,15,17,20]
filter(lambda x:(x>=10),marks)

In [28]:
marks = [12,10,13,17,5,9,1,9,1,8,15,17,20]
list(filter(lambda x:(x>=10),marks))

[12, 10, 13, 17, 15, 17, 20]

Mutable (its cahnge value and modification possible)
Immutable(Its not changed value ex-otp mobile)

list:ordered (indexed) hetrogeneous and mutable(size and value) collection
tuple: ordered ,hetrogeneous and immutable

In [29]:
mylist = [1,2,3,4,'hello',True]
type(mylist)

list

In [30]:
mylist[4]

'hello'

In [31]:
mylist[0] = 15 # reassignment opeartor used means value change its mutable
mylist

[15, 2, 3, 4, 'hello', True]

In [32]:
mylist.append(2+3j)
mylist

[15, 2, 3, 4, 'hello', True, (2+3j)]

In [34]:
l=list()
type(l)

list

In [35]:
l=list([23])
l

[23]

In [36]:
myTuple = ('hello',2)
type(myTuple)

tuple

In [37]:
myTuple[0]

'hello'

In [38]:
myTuple[1] = 20 # reassign not possible

TypeError: 'tuple' object does not support item assignment

In [39]:
mylist.remove(2+3j)
mylist

[15, 2, 3, 4, 'hello', True]

In [ ]:
del mylist[0]

In [40]:
mylist

[15, 2, 3, 4, 'hello', True]

In [41]:
mylist = [15,2,True,'Hi']
mylist

[15, 2, True, 'Hi']

In [42]:
d=mylist.pop(2)
mylist

[15, 2, 'Hi']

In [44]:
mylist.append(d)
mylist

[15, 2, 'Hi', True, True]

Common Error: Name error ,attribute error ,postional error and Type error

Date:06/01/2023

String: string is collection of sequence.
Collection:
list,tuple,set,dictionary,string


Collection :mutable/immutable,same type(homogeneous)/different type(hetrogeneoue)


List --> a hetrogeneous collection which is mutable (size and value)

In [1]:
names = []
type(names)

list

In [2]:
myTuple = list()
type(myTuple)

list

In [3]:
mylist1 = ['A',123,'B',87]
mylist1

['A', 123, 'B', 87]

In [4]:
names

[]

In [5]:
names.append('nisha')
names

['nisha']

In [7]:
names.remove('nisha')
names

[]

In [10]:
names.append('nisha')
names

[1, 'nisha']

In [11]:
names[0]

1

In [12]:
names = ['nisha',1,'Satya',12,'Raj',22]
names

['nisha', 1, 'Satya', 12, 'Raj', 22]

In [16]:
names.append('maya')

In [17]:
names.append('11')
names

['nisha', 1, 'Satya', 12, 'Raj', 22, 'maya', '11']

In [13]:
names[4]

'Raj'

In [14]:
names[0:1]

['nisha']

In [15]:
names[0:2]

['nisha', 1]

In [18]:
r1 = names[0:2]
r1

['nisha', 1]

In [19]:
r1 = names[0:2]
r1

['nisha', 1]

In [20]:
students = names[0:6]
students

['nisha', 1, 'Satya', 12, 'Raj', 22]

In [21]:
marks = names[1:5]
marks

[1, 'Satya', 12, 'Raj']

In [22]:
marks = names[1:6:2]
marks

[1, 12, 22]

In [23]:
names[1:6]

[1, 'Satya', 12, 'Raj', 22]

In [24]:
names[0:5:1]

['nisha', 1, 'Satya', 12, 'Raj']

In [25]:
names[0:5:3]

['nisha', 12]

In [26]:
names = ['akash',1,'Tushar',12,'akash',9]
marks = names[1:6:2]
marks

[1, 12, 9]

In [27]:
names[1:6]

[1, 'Tushar', 12, 'akash', 9]

In [28]:
names[0:4:3]

['akash', 12]

In [29]:
names

['akash', 1, 'Tushar', 12, 'akash', 9]

In [30]:
names[0] = 'Nitin'

In [31]:
names

['Nitin', 1, 'Tushar', 12, 'akash', 9]

In [32]:
names[4]

'akash'

In [33]:
names[4:6]

['akash', 9]

In [34]:
names[-3:-1]

[12, 'akash']

In [35]:
names[2:4]

['Tushar', 12]

In [36]:
print(names)
print(names[-6::2])

['Nitin', 1, 'Tushar', 12, 'akash', 9]
['Nitin', 'Tushar', 'akash']

In [37]:
names[-2:]

['akash', 9]

In [38]:
names.append(34)
names

['Nitin', 1, 'Tushar', 12, 'akash', 9, 34]

In [39]:
names.insert(1,'maya')
names

['Nitin', 'maya', 1, 'Tushar', 12, 'akash', 9, 34]

In [41]:
names.remove(34)
names

['Nitin', 'maya', 1, 'Tushar', 12, 'akash', 9]

In [42]:
del names[1] 
names

['Nitin', 1, 'Tushar', 12, 'akash', 9]

In [43]:
l1 = [1,2,3]
l2=[9,99,0,98]
l1.extend(l2) # its changes original list
l1

[1, 2, 3, 9, 99, 0, 98]

In [44]:
l3=[9,0,9]
l4=[1,2,3]
l3 + l4

[9, 0, 9, 1, 2, 3]

In [45]:
l5 = [2,5]
l3.append(l5)
l3

[9, 0, 9, [2, 5]]

In [46]:
len(l3)

4

In [47]:
l3[len(l3) -1]

[2, 5]

In [49]:
l3.clear()
l3

[]

In [50]:
del l3

In [51]:
l3

NameError: name 'l3' is not defined

In [52]:
l3 = [12,2,3]
l3

[12, 2, 3]

In [53]:
del l3[0]
l3

[2, 3]

Note: Del element by index and remove using by value .Del used for del strucute and value by using index but remove used for removing value with help of value.

Day 07/01/2023

In [54]:
#tuple: ordered,hetrogeneous ,immutable
mytuple = (1,2,3)
mytuple[2]

3

In [55]:
mytuple[1] = 'abc'
mytuple

TypeError: 'tuple' object does not support item assignment

In [56]:
mytuple.append(90)

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
del mytuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [58]:
del mytuple

In [59]:
mytuple

NameError: name 'mytuple' is not defined

In [60]:
months = ('jan','feb','March','April','May','June','July','aug','Sep')
months[1:4]

('feb', 'March', 'April')


Python :
    Python general purpose high level programming language.
    Object oriented programming
    Language with dynamic semantic
    syntax easy as compare to any other language
    Interpreted Programming language


Introduction:

      Guido Van Rassum in 1989 first version introduce in 1994
      National Research Institute ,Netherland.

      BBC(British Channel) Montis Python Flying Circuis

In [1]:
print("Hi")
print("Hello","How are you?")
print("Hi\nhow are you")
print(10+20)

Hi
Hello How are you?
Hi
how are you
30

Operators are special symbols which is used to perform some specific
operations

Arithmatic Operators: +,-,*,/,//,%.**
Assignment Operators:
Comparison Operators
Logical Operators:
Membership Operators:
Bitwise Operators

In [2]:
a=10
b=20
print(a+20)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

30
-10
200
0.5
0
100000000000000000000

In [3]:
print(10>11)
print(10>=10)
print(10<11)
print(10<=10)
print(10==10)

False
True
True
True
True

In [4]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Python:
   
   Python general purpose hogh level programming langauge.
   Object oriented programming
   langauge with dynamic semantics
   syntax easy as compare to any other language
   Interpreted Programming Language

   Intdoduction:

       Guido Van Rassum in 1989 first version introduce in 1994, (NRI)
       National Research Institute ,Netherland.

       BBC(British Broadcase Channel)Montis Python Flying Circuis

In [2]:
print("hii")
print("hello","How are you?")
print("hi\n how are you")
print(10+20)
print(10>20)
print("10")
print(10)

hii
hello How are you?
hi
 how are you
30
False
10
10

Operators are special symbols which is used to perform some speific opertion

Airthmatic Operators: +,-,*,/,//,%.**
Assignment Operators:
Comparsion Operators
Logical Operators:
Membership Operators:
Bitwise Operators:

In [3]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

30
-10
200
0.5
0
100000000000000000000

In [4]:
a=10
print(a)
a+=10 #a=a+10
print(a)
a-=10 #a=a-10
print(a)
a*=2
print(a)
a/=2
print(a)

10
20
10
20
10.0

In [5]:
print(10>11)
print(10>=10)
print(10<11)
print(10<=11)
print(10==10)

False
True
True
True
True

In [6]:
print(5>10 and 5<10)
print(5>10 or 5<10)
print(not(5>10 or 5<10))

False
True
False

In [7]:
name = 'nisha'
print('is' in name)

True

In [8]:
a = 1000
print(0 in a)

TypeError: argument of type 'int' is not iterable

In [9]:
print(10&2)
print(10|2)
print(10^2)

2
10
8

In [12]:
a=10 #integer
b=2.2 #float
c=1+2j #complex

print(type(a))
print(type(b))
print(type(c))
print("Real number in:",c.real)
print("Imaginary number in c",c.imag)

<class 'int'>
<class 'float'>
<class 'complex'>
Real number in: 1.0
Imaginary number in c 2.0

In [16]:
st = "hello how are you?"
st1 = "hello how your life? i am good"
print(st,st1)
print(st.find("a"))
print(st.capitalize())
st.replace("how","how")
st.isalpha()

hello how are you? hello how your life? i am good
10
Hello how are you?

False

Conditional Statement:
    
    if satatement
    if else statement
    if elif satement

In [17]:
n=int(input())
if n%2 ==0:
    print(f"{n} is even")
else:
    print(f"{n} is odd")

5 is odd

In [18]:
n = int(input())
if n%2 ==0:
    print(f"{n} is even")
else :
    print(f"{n} is odd")

4 is even

In [19]:
# for checking Palindrome number
n=input()
if(n==n[::1]):
    print("this is palindrome")
else:
    print("this is not palindrome")

this is palindrome

In [20]:
# for checking Palindrome number
name=input("enter name")
if name == name[::-1]:
    print("Palindrome")
else:
    print("not palindrome")

not palindrome

In [21]:
# for checking Palindrome number
n=input()
revstr = ''.join(reversed(n))
if(n==revstr):
    print("this is palindrome")
else:
    print("this is not palindrome")

this is palindrome

In [23]:
l=[0,1,2,3,4,5]
print(l[::-1])
print(l[-1])
print(l[-1:-4:-1])

[5, 4, 3, 2, 1, 0]
5
[5, 4, 3]

In [24]:
percentage = int(input("Enter percentage"))
if percentage>=75 and percentage<=100:
    print("A")
elif percentage>=65 and percentage<75:
    print("B")
elif percentage >=55 and percentage<65:
    print("C")
elif percentage<55:
    print("fail")
else:
    print("Plz enter correct percentage...!")

A

In [25]:
percentage = int(input("Enter percentage"))
if 100>=percentage>=75:
    print("A")
elif 75>percentage>=65:
    print("B")
elif 65>percentage>=55:
    print("C")
elif 55>percentage:
    print("fail")
else:
    print("Please enter correct value")

C

While: Iteration dont know in advance then we use while
For: If we know iteration in advance then we use for also for loop is used for list ,tuple,set and dictionary

In [26]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [27]:
#for even number
for i in range(10,51,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [28]:
# For odd no
for i in range(11,51,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [29]:
l1 = ['rndhir',1,2,3,10,11.1,12.1,'pqr']
for i in l1:
    print(i)

rndhir
1
2
3
10
11.1
12.1
pqr

In [30]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [31]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
for i in range(21,30,2):
    print(i)

21
23
25
27
29

In [34]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [35]:
for i in range(50,60,3):
    print(i)

50
53
56
59

In [2]:
for i in range(50,60,3):
    print(i)

50
53
56
59

In [3]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [4]:
for i in range(21,30,2):
    print(i)

21
23
25
27
29

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [7]:
l1 = ['randhir',1,2,3,10,11,12.1,'pqr']
for i in l1:
    print(i)

randhir
1
2
3
10
11
12.1
pqr

In [8]:
# for odd no
for i in range(11,51,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [9]:
n=int(input())
if n%2 ==0:
    print(f"{n} is even")
else:
    print(f"{n} is odd")

6 is even

In [10]:
n=input()
revstr = ''.join(reversed(n))
if (n==revstr):
    print("this is palindrome")
else:
    print("this is not palindrome")

this is palindrome

In [11]:
#Lambda: When craete one line function then used lambda function
add = lambda a,b:a+b
print(add(20,30))

50

In [12]:
#for odd or even function
even_odd = lambda n:"even" if n&1==0 else "odd"
even_odd(2)

'even'

In [13]:
#for factorial number
fact = lambda n:1 if n==0 else n*fact(n-1)
fact(5)

120

In [14]:
list = [1,2,3,4,5]
f=lambda listx: [print(x*2) for x in listx]
f(list)

2
4
6
8
10

[None, None, None, None, None]

In [15]:
sq = lambda s,e:[n**2 for n in range(s,e)]
sq(5,11)

[25, 36, 49, 64, 81, 100]

Recursive Function:

Recursive function is a function which call itself in order to solve the problem

In [19]:
f = 1
i = 1
while i <=5:
    f=i*f
    i=i+1
    print(f)

1
2
6
24
120

In [21]:
# factorial
def fact(n):
    f=1
    for i in range(1,n):
        f=i*f
        print(f)
fact(11)

1
2
6
24
120
720
5040
40320
362880
3628800

In [22]:
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)

fact_res(5)

120

In [23]:
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)

n = int(input("Enter value"))
fact_res(n)

24

In [24]:
# sum by using recursion
def sum_res(n):
    if n==0:
        return 0
    else :
        return n + sum_res(n-1)
n = 5
sum_res(n)

15

In [25]:
def fact_res(n):
    if n==0:
        return 0
    else:
        return n+fact_res(n-1)
n= int(input("Enter value"))
fact_res(n)

21

In [26]:
# fibnaoci series
a,b=0,1
print(a)
print(b)
for i in range(5):
    c=a+b
    print(c)
    a,b=b,c

0
1
1
2
3
5
8

In [27]:
def fibo(n):
    a,b = 0,1
    '''print(a) 
    print(b)'''
    for i in range(n):
        c=a+b
        print(c)
        a,b=b,c
fibo(10)

1
2
3
5
8
13
21
34
55
89

In [1]:
def fibo(n):
    a,b = 0,1
    '''print(a) 
    print(b)'''
    for i in range(n):
        c=a+b
        print(c)
        a,b=b,c
fibo(10)

1
2
3
5
8
13
21
34
55
89

In [2]:
def fact_res(n):
    if n==0:
        return 0
    else:
        return n+fact_res(n-1)
n= int(input("Enter value"))
fact_res(n)

21

In [4]:
# sum by using recusrion
def sum_res(n):
    if n==0:
        return 0
    else :
        return n + sum_res(n-1)

n = 5
sum_res(n)

15

In [5]:
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)

n = int(input("Enter value"))
fact_res(n)

24

In [6]:
# factorial 
def fact(n):
    f=1
    for i in range(1,n):
        f=i*f
        print(f)
fact(11)

1
2
6
24
120
720
5040
40320
362880
3628800

In [7]:
f = 1
i = 1
while i<=5:
    f=i*f
    i=i+1
    print(f)

1
2
6
24
120

Recursive Function:

Recursive function is a function which call itself in order to solve the problem

In [8]:
sq = lambda s,e:[n**2 for n in range(s,e)]
sq(5,11)

[25, 36, 49, 64, 81, 100]

In [9]:
list = [1,2,3,4,5]
f=lambda listx: [print(x*2) for x in listx]
f(list)

2
4
6
8
10

[None, None, None, None, None]

In [10]:
# for factorial number
fact = lambda n:1 if n==0 else n*fact(n-1)
fact(5)

120

In [11]:
# for odd or even function
even_odd = lambda n:"even" if n&1 ==0 else "odd"
even_odd(2)

'even'

In [12]:
#Lambda :When craete one line function then used lambda function
add = lambda a,b:a+b
print(add(20,30))

50

In [13]:
for i in range(50,60,3):
    print(i)

50
53
56
59

In [14]:
for i in range(21,30,2):
    print(i)

21
23
25
27
29

In [15]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [18]:
l1 = ['randhir',1,2,3,10,11.1,12.1,'pqr']
for i in l1:
    print(i)

randhir
1
2
3
10
11.1
12.1
pqr

In [19]:
# for odd no
for i in range(11,51,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

While : Iteration dont know in advance then we use while
For: If we know iteration in advance then we use for also for loop is used 
list,tuple,set and dictionary

In [20]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [1]:
def fibo(n):
    a,b = 0,1
    '''print (a)
    print(b)'''
    for i in range(n):
        c = a+b
        print(c)
        a,b = b,c
fibo(10)

1
2
3
5
8
13
21
34
55
89

In [2]:
def fact_res(n):
    if n==0:
        return 0
    else:
        return n+fact_res(n-1)
n = int(input("Enter values"))
fact_res(n)

ValueError: invalid literal for int() with base 10: ''

In [3]:
# for checking Palindrome number
n=input()
revstr = ''.join(reversed(n))
if(n==revstr):
    print("this is palindrome")
else:
    print("this is not palindrome")

this is palindrome

In [4]:
# for checking Palindrome number
n=input()
revstr = ''.join(reversed(n))
if(n==revstr):
    print("this is palindrome")
else:
    print("this is not palindrome")

this is palindrome

In [5]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [8]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [9]:
l1 = ['randhir',1,2,3,10,'pqr']
for i in l1:
    print(i)

randhir
1
2
3
10
pqr

In [10]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [12]:
n = int(input())
if n%2 ==0:
    print(f"{n} is even")
else:
    print(f"{n} is odd")

4 is even

In [13]:
# checking for odd or even number
n=int(input())
if (n%2==0):
    print(f"{n} is even")
else:
    print(f"{n} is odd")

33 is odd

In [14]:
# for checking palindrome
n = input()
n2 = ''.join(reversed(n))
if (n == n2):
    print(f"its palindrome")
else:
    print("its not palindrome")

its not palindrome

In [16]:
# write program for odd or even number by using range function
# write program for odd or even number by if else statement
#write program for checking prime number
# write program for palindrome checking by using if statment
# Write program for factorial number finding

#write program for checking prime number
num = 11
flag =0
for i in range(2,num):
    if num%i ==0:
        flag = 1
        break
if flag ==1:
    print("not prime")
else:
    print("prime")

prime

In [17]:
num = 11
flag = 0
for i in range(2,num):
    if num%i ==0:
        flag = 1
        break
if flag ==1:
    print("not prime")
else:
    print("prime")

prime

In [18]:
# factorail number
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)
fact_res(5)

120

In [19]:
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)
fact_res(4)

24

In [1]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [2]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [3]:
# Checking for odd or even number
n = int(input())
if (n%2==0):
    print("even")
else:
    print("odd")

even

In [4]:
# for checking palindrome
n = input()
n2 = ''.join(reversed(n))
if(n==n2):
    print("ok")
else:
    print("not ok")

not ok

In [5]:
# factorial number
def fact_res(n):
    if n==0:
        return 1
    else:
        return n*fact_res(n-1)
    
fact_res(4)

24

In [6]:
# for checking prime number
num = 11
flag = 0
for i in range(2,num):
    if num%i ==0:
        flag =1
        break
if flag ==1:
    print("not prime")
else:
    print("prime")

prime

In [1]:
for i in range(1,25,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23

In [3]:
for i in range(2,25,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24

In [6]:
# Checking for odd or even number
n = int(input())
if(n%2==0):
    print("even")
else:
    print("odd")

even

In [8]:
# for checking prime number
num = 12
flag = 0
for i in range(2,num):
    if(num%i ==0):
        flag = 1
        break

if (flag==1):
    print("not prime")
else:
    print("it's prime")

not prime

In [ ]:
# for checking prime number
A=int(input())
if A > 1:
    for i in range(2, (A//2)+1):
        if (A % i) == 0:
            print(A, "is not a prime number")
            break
    else:
        print(A, "is a prime number")
else:
    print(A, "is not a prime number")

In [10]:
# for checking palindrome
n1 = input()
n2 = "".join(reversed(n1))
if (n1==n2):
    print("its palindrome")
else:
    print("it's not palindrome")

its palindrome

In [16]:
# factorial number
def fact_res(n):
    if(n==0):
        return 1
    else:
       return n*fact_res(n-1)
fact_res(4)

24

In [19]:
# factorial number
a=5
b=1
for i in range(a,0,-1):
    print(f"{i} i value")
    print(f"{b} b value")
    b=b*i
print(f"{b} final b value")

5 i value
1 b value
4 i value
5 b value
3 i value
20 b value
2 i value
60 b value
1 i value
120 b value
120 final b value

# write program for odd or even number by using range function
# write program for odd or even number by if else statement
#write program for checking prime number
# write program for palindrome checking by using if statment
# Write program for factorial number finding

In [1]:
# write program for odd or even number by using range function
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
# write program for odd or even number by using range function
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [4]:
# write program for odd or even number by if else statement
n1 = int(input())
if(n1%2==0):
    print("even")
else:
    print("odd")

even

In [5]:
#write program for checking prime number
num1 = 11
flag = 0
for i in range(2,num1):
    if(num1%2==0):
        falg=1
        break
if(flag==1):
    print("not prime")
else:
    print("prime")

prime

In [7]:
# write program for palindrome checking by using if statment
n1=input()
n2="".join(reversed(n1))
if(n1==n2):
    print("its polindrome")
else:
    print("its not polindrome")

its polindrome

In [15]:
# Write program for factorial number finding
def fact_res(n):
    if(n==0):
        return 1
    else:
        return n*fact_res(n-1)
fact_res(4)

24

In [21]:
#date 4th july 2024
for i in range(25,31):
    print(i**3)

15625
17576
19683
21952
24389
27000

List Comprehension:

In [22]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
l1= [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
l1 = [x for x in range(4,41,4)]
l1

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [26]:
l1=[x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
sqr_4 = [x*4 for x in range(1,11)]
sqr_4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [29]:
n=int(input("Enter number"))
if n&1==0:
    print("even")
else:
    print("odd")

even

In [30]:
for x in range(50,61):
    if(x &1) ==0:
        print(f"{x} is even")

50 is even
52 is even
54 is even
56 is even
58 is even
60 is even

In [31]:
#even number find
l1 = [x for x in range(50,61) if x&1==0]
l1

[50, 52, 54, 56, 58, 60]

In [16]:
#lambda function
add = lambda a,b:a+b
print(add(20,30))

50

In [17]:
# check odd and number
even_odd = lambda n:"even" if n&1==0 else "odd"
even_odd(2)

'even'

In [18]:
# factorial number
fact = lambda n:1 if n==0 else n*fact_res(n-1)
fact(5)

120

In [19]:
# 2 table print
list = [1,2,3,4,5]
f = lambda listx:[print(x*2) for x in listx]
f(list)

2
4
6
8
10

[None, None, None, None, None]

In [20]:
sq=lambda s,e:[n**2 for n in range(s,e)]
sq(5,11)

[25, 36, 49, 64, 81, 100]

In [3]:
#factoril number
def fact_res(n):
    if(n==0):
        return 1
    else:
        return n*fact_res(n-1)
    
fact_res(4)

24

In [4]:
#for checking palindrome
n1 = input()
n2 = "".join(reversed(n1))
if(n1==n2):
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [5]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [6]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [7]:
#Checking for odd or even number
n = int(input())
if(n%2==0):
    print("even")
else:
    print("odd")

odd

In [8]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [9]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [10]:
for i in range(25,31):
    print(i**3)

15625
17576
19683
21952
24389
27000

List Comprehension

In [11]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
l1 = [x for x in range(4,41,4)]
l1

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [15]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
sqr_4 = [x*4 for x in range(1,11)]
sqr_4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [ ]:
#05/07/2024
# write program for odd or even number by using range function
# write program for odd or even number by if else statement
#write program for checking prime number
# write program for palindrome checking by using if statment
# Write program for factorial number finding

In [1]:
# write program for odd or even number by using range function
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
# write program for odd or even number by if else statement
n1 = int(input())
if(n1%2==0):
    print(f"{n1} is even")
else:
    print(f"{n1} is odd number")

4 is even

In [5]:
#write program for checking prime number
n1 = 12
flag = 0
for i in range(2,n1):
    if(n1%i==0):
        flag=1
        break
if(flag==1):
    print("not prime number")
else:
    print("prime number")

not prime number

In [7]:
# write program for palindrome checking by using if statment
n1 = input()
n2 = "".join(reversed(n1))
if(n1==n2):
    print("its palindrome")
else:
    print("it's not palindrome")

its palindrome

In [8]:
# Write program for factorial number finding 4 = 4*3*2*1
def fact_res(n):
    if(n==1):
        return 1
    else:
        return n*fact_res(n-1)
fact_res(4)

24

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
n1 = int(input())
for i in range(n1,n1*11,n1):
    print(i)

4
8
12
16
20
24
28
32
36
40

In [12]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
l1 = [x for x in range(4,41,4)]
l1

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [21]:
sqr_4 = [x*4 for x in range(1,11)]
sqr_4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [22]:
n = int(input("Enter number"))
if n&1 ==0:
    print("even")
else:
    print("odd")

even

In [23]:
n = int(input())
if(n&1 ==0):
    print("even")
else:
    print("odd")

even

In [24]:
for x in range(50,61):
    if(x&1) ==0:
        print(f"{x} is even")

50 is even
52 is even
54 is even
56 is even
58 is even
60 is even

In [25]:
for x in range(50,56):
    if(x&1 ==0):
        print("even")
    else:
        print("odd")

even
odd
even
odd
even
odd

In [27]:
n1 = int(input())
for i in range(n1,n1*11,n1):
    print(i)

40
80
120
160
200
240
280
320
360
400

In [28]:
#even number find
l1 = [x for x in range(50,61) if x&1 ==0]
l1

[50, 52, 54, 56, 58, 60]

In [29]:
#lambda function
add = lambda a,b:a+b
print(add(20,30))

50

In [ ]:
#Check odd and even number
even_odd

In [33]:
for i in range(2,21):
    print(i*i)

4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [34]:
#Check odd and even number
even_odd = lambda n:"even" if n&1==0 else "odd"
even_odd(2)

'even'

In [36]:
# for finding even or odd number
n1 = int(input())
print(n1&16)
if(n1&1 == 0):
    print("even")
else:
    print("odd")

0
even

lambda input:expression

In [40]:
add_num = lambda a,b:a*b
print(add_num(1,2))

2

In [41]:
even_odd = lambda n: "even" if n&1 == 0 else "odd"
even_odd(4)

'even'

In [1]:
# Date 08/07/2024
sq = lambda s,e:[n**2 for n in range(s,e)]
sq(5,11)

[25, 36, 49, 64, 81, 100]

In [2]:
sq = lambda s,e:[n**2 for n in range(s,e)]
sq(5,11)

[25, 36, 49, 64, 81, 100]

In [3]:
list = [1,2,3,4,5]
f = lambda listx:[print(x*2) for x in listx]
f(list)

2
4
6
8
10

[None, None, None, None, None]

In [4]:
# factorial number
fact = lambda n:1 if n==0 else n*fa(n-1)
fact(5)

NameError: name 'fact_res' is not defined

In [5]:
# check odd and number
even_odd = lambda n:"even" if n&1==0 else "odd"
even_odd(2)

'even'

In [6]:
# check odd and number
even_odd = lambda n:"even" if n&1==0 else "odd"
even_odd(3)

'odd'

In [7]:
# lambda function
add = lambda a,b:a+b
print(add(20,30))

50

In [8]:
#even number find
l1 = [x for x in range(50,61) if x&1 ==0]
l1

[50, 52, 54, 56, 58, 60]

In [9]:
for x in range(50,61):
    if(x&1 ==0):
        print(f"{x} is even")

50 is even
52 is even
54 is even
56 is even
58 is even
60 is even

In [10]:
n = int(input("Enter number"))
if n&1 ==0:
    print("even")
else:
    print("odd")

odd

In [11]:
n = int(input())
if(n&1 ==0):
    print("even")
else:
    print("odd")

even

In [12]:
sqr_4 = [x*4 for x in range(1,11)]
sqr_4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [13]:
sqr_4 = [x*4 for x in range(1,11)]
sqr_4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [14]:
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
l1 = [x for x in range(4,41,4)]
l1

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [16]:
# factorial number
a = 5
b =1
for i in range(a,0,-1):
    b = b*i
print(b)

120

In [17]:
def fact_res(n):
    if(n==1):
        return 1
    else:
        return n*fact_res(n-1)
fact_res(4)

24

In [18]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [19]:
# List Comprehension
l1 = [x for x in range(11)]
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
n1 = int(input())
for i in range(n1,n1*11,n1):
    print(i)

11
22
33
44
55
66
77
88
99
110

In [23]:
for i in range(25,31):
    print(i**3)

15625
17576
19683
21952
24389
27000

In [24]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [25]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [26]:
n = int(input())
if (n%2==0):
    print(f"{n} is even")
else:
    print(f"{n} is odd")

55 is odd

In [27]:
n1 = input()
n2 = "".join(reversed(n1))
if(n1==n2):
    print("its palindrome")
else:
    print("it's not palindromes")

its palindrome

In [29]:
# checking prime numner
num = 11
flag = 0
for i in range(2,num):
    if(num%i==0):
        flag=1
        break

if(flag==1):
    print("not prime number")
else:
    print("prime  number")

prime  number

In [30]:
# sum by using recursion
def sum_res(n):
    if n==0:
        return 0
    else:
        return n+ sum_res(n-1)
    
n = 5
sum_res(n)

15

Date : 11/10/2024

In [1]:
print("hello")

hello

In [2]:
print('''hello\t This is rishu's python session",said Sonu''')

hello	 This is rishu's python session",said Sonu

In [3]:

print('''hello\t This is rishu's python session",said Sonu''')

hello	 This is rishu's python session",said Sonu

In [4]:
print(" *\n**\n******")

 *
**
******

In [6]:
print('hello',end='\t')

hello

In [7]:
print('hello there' *2)

hello therehello there

In [8]:
op1 = input('enter the first number')
print('you entered op1 as:',op1)
print(type(op1))

you entered op1 as: 4
<class 'str'>

Data Types:
        1. Numeric (int,float)
        2. Non-Numeric(Boolean,Text-(str))
        3. Complex

In [9]:
op1 = int(input('enter the first number:'))
print('you entered op1 as:',op1)
print(type(op1))

you entered op1 as: 77
<class 'int'>

In [10]:
a = 13
type(a)

int

In [11]:
a = 34.3
type(a)

float

In [12]:
b = 'add'
type(b)

str

In [13]:
c = True
type(c)

bool

In [14]:
a = 2 +3j

type(a)

complex

In [15]:
a = 15
b = 15
a is b

True

Agenda:
      Variables
      Data Types
      Opeartors
      Control flows
      Functions

In [16]:
a = 2
id(a)

140724009100104

In [17]:
a = 'hello'
id(a)

2132293657968

In [18]:
a = 10
b = 10
a is b

True

In [19]:
id(a)
id(b)

140724009100360

In [20]:
b = 2
a is BufferError

False

In [21]:
a = 10
type(a)

int

In [22]:
b = -11.5
type(b)

float

In [23]:
c = 2 +3j
type(c)

complex

In [24]:
d = 2.3 + 9j
type(d)

complex

In [25]:
v = 'this is python tutorial'
type(v)

str

In [26]:
p = 'q'
type(p)

str

In [27]:
flag1 = True
type(flag1)

bool

In [28]:
flag2 = False
type(flag2)

bool

Note:
Numeric -> int,float, complex

In [29]:
a = 11
b = 'the values of a is'
print(b,a)

the values of a is 11

In [30]:
b = b + a
print(b)

TypeError: can only concatenate str (not "int") to str

In [31]:
b = b + str(a)
print(b)

the values of a is11

In [32]:
input() # its type conversion and input always return string type

In [ ]:
v = input ('enter a number')

In [1]:
print("Hello world")

Hello world

In [2]:
print('''hello\t This is rishu's python session ,sais''')

hello	 This is rishu's python session ,sais

In [3]:
print("*\n ***")

*
 ***

In [4]:
print

In [5]:
print('hello',end='\n')

hello

In [6]:
print('hello',end='\t')

hello

In [7]:
print('hello there'*2)

hello therehello there

In [8]:
name = 'Rishu'
desg='janitor'
com='xyz'
print('Hey this is',name,'who works as',desg,'at',com,'company')

Hey this is Rishu who works as janitor at xyz company

In [9]:
name = 'Rishu'
desg='janitor'
com='xyz'
print('Hey this is',name,'who works as',desg,'at',com,'company')
print('hey this is {} who works as {} at {}company'.format(name,desg,com))

Hey this is Rishu who works as janitor at xyz company
hey this is Rishu who works as janitor at xyzcompany

In [11]:
op1 = input('enter the first number:')
print('you entered op1 as:',op1)
print(type(op1))

you entered op1 as: 8
<class 'str'>

Data Types- 
            1.  Numeric (int,float)
            2. Non-numeric(Boolaen, text-(str))
            3.Complex

In [12]:
op1 = int(input('enter the first number:'))
print('you entered op1 as:',op1)
print(type(op1))

you entered op1 as: 8
<class 'int'>

In [13]:
a = 13
type(a)

int

In [14]:
b='add'
type(b)

str

In [15]:
c = True
type(c)

bool

In [16]:
a = 2 + 3j
type(a)

complex

In [17]:
b = 3j
type(b)

complex

In [18]:
a = 255
b = 255
a is b

True

Agenda:
Variables
Data Types
Operators
Control flows
Functions

In [19]:
a = 2
id(a)

140728858633032

In [20]:
a = 10
b = 10
a is b

True

In [21]:
id(a)

140728858633288

In [22]:
id(b)

140728858633288

In [23]:
a = 10
type(a)

int

In [24]:
b = -11.5
type(b)

float

In [25]:
c = 2 +6j
type(c)

complex

In [26]:
d = 2.3 + 9j
type(d)

complex

In [27]:
v = 'this is python tutorial'
type(v)

str

In [28]:
p = 'q'
type(p)

str

In [30]:
flag1 = False
type(flag1)

bool

In [1]:
input()

'99'

In [2]:
v = int('enter a number')

ValueError: invalid literal for int() with base 10: 'enter a number'

In [3]:
v = input('enter a number')

In [4]:
type(v)

str

In [5]:
v + 5

TypeError: can only concatenate str (not "int") to str

In [6]:
V = int(v)
V

55

In [7]:
a = 10
b = 19.6
a + b

29.6

In [8]:
b

19.6

In [9]:
int(b)

19

In [10]:
a + int(b)

29

In [11]:
c = 2 +3j
a + c

(12+3j)

In [12]:
a = 'True'
type(a)

str

In [13]:
bool(a)

True

In [14]:
a = 0
bool(a)

False

In [15]:
a = 1

In [16]:
bool(a)

True

In [17]:
a = -12
bool(a)

True

In [18]:
x = '123.78'
float(x)

123.78

In [19]:
a = 0.001
bool(a)

True

In [20]:
a = 12
b = 9
a+b

21

In [21]:
a - b

3

In [22]:
a * b

108

In [23]:
a/b

1.3333333333333333

In [24]:
a//b

1

In [25]:
a%b

3

In [26]:
a==b

False

In [27]:
a<b

False

In [28]:
a>b

True

In [29]:
a>=b

True

In [30]:
a<=b

False

In [31]:
a!=b

True

Relational operators always need two operators

In [32]:
a == b

False

In [33]:
1<a<15

True

In [34]:
a>1

True

In [35]:
a < 13

True

In [36]:
False and False

False

In [37]:
True and True

True

In [38]:
True and False

False

In [39]:
True or False

True

In [40]:
False or True

True

In [41]:
True and True

True

In [42]:
not True

False

In [43]:
not False

True

In [44]:
True & True

True

In [45]:
2 *3 + 5 - 2

9

In [46]:
not True and False or True

True

In [47]:
a = int(input('enter num1:'))
b = int(input('enter num 2:'))
r = a + b
print(r)

9

In [48]:
r = a * b
print(r)

18

In [49]:
r = a/b

In [50]:
print('div',r)

div 2.0

Decision Making --> if,if-else,if-elseIf-else,nested if
Looping --> for(if you know length then used while)

In [52]:
a = int(input('enter num1:'))
b = int(input('enter num 2:'))
ch = input('enter the symbol of opeartions that need to perform')
if ch=='+':
    r = a+b
    print('sum is:',r)
elif ch=='-':
   r=a-b
   print('diff is',r)
elif ch=='*':
    r = a*b
    print('prod is:',r)
else:
    r = a/b
    print('div',r)

sum is: 9

In [53]:
a = 10
++a

10

In [54]:
a+=1
a

11

In [ ]:
i = 1
while True:
    i = i+1
    print(i)

In [56]:
i = 1
while i<10:
    i=i+1
    print(i)

2
3
4
5
6
7
8
9
10

In [57]:
# print hello 10 times on the screen
for i in range(10):
    print(i,'.Hello')

0 .Hello
1 .Hello
2 .Hello
3 .Hello
4 .Hello
5 .Hello
6 .Hello
7 .Hello
8 .Hello
9 .Hello

In [58]:
# print all the even numbers till 50 using loops
for i in range(11):
    if i%2 ==0:
        print(i)

0
2
4
6
8
10

In [59]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [61]:
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [62]:
for i in range(1,10):
    if i==5 or i==9:
        continue
    print(i)

1
2
3
4
6
7
8

In [63]:
for i in range(1,10):
    if i%2!=0:
        continue
    print(i)

2
4
6
8

In [64]:
for i in range(1,51):
    print(i)
    if i>10:
        break

1
2
3
4
5
6
7
8
9
10
11

In [65]:
for i in range(1,11):
    if i>5:
        break
    print(i)

1
2
3
4
5

In [1]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [2]:
for i in range(1,10):
    if i==5 or i ==9:
        continue
    print(i)

1
2
3
4
6
7
8

In [3]:
for i in range(1,51):
    print(i)
    if i > 10:
        break

1
2
3
4
5
6
7
8
9
10
11

Note: python does not support pre and post increment

In [4]:
a = 10
++a

10

In [5]:
a++

SyntaxError: invalid syntax (1277751513.py, line 1)

In [ ]:
n = 100
while n>0:
    b=input("Choose between attck or heal")
    if b =="attack":
        n = n-20
        print(n)
    if b=="heal":
        n = n+10
        print(n)
    if n<=0:
        print("dead")

Agenda: 
       function
       lambda
       list
       tuple
       dic
       set

In [ ]:
def greet():
    print("hello")
greet()

Note: without funtcion decalare code given summation error

In [ ]:
def greet(fname,lname):
    print('hello,',fname)
    print('hello,',lname)
greet('Rohan','Singh')

hello

In [10]:
print("hii")

hii

In [11]:
greet(lname='Singh',fname='Rohan')

hello, Rohan
hello, Singh

In [13]:
greet('r',lname='s',fname='k')

TypeError: greet() got multiple values for argument 'fname'

In [14]:
def greet(fname='NA',mname='NA',lname='NA'):
    print('hello,',fname)
    print('hello,',mname)
    print('hello',lname)
greet()

hello, NA
hello, NA
hello NA

In [15]:
greet('r',lname='s')

hello, r
hello, NA
hello s

In [16]:
def addn(a,b):
    s=a+b
addn(2,3)

In [17]:
def addn(a,b):
    s=a+b
addn(2,3)
print(s)

NameError: name 's' is not defined

In [18]:
def addn(a,b):
    s=a+b
    return s
    return d
r = addn(2,3)
r

5

In [19]:
def addn(a,b):
    s = a+b
    d = a-b
    return s,d
addn(3,2)

(5, 1)

In [20]:
def addn(a,b):
    a = a+b
    d = a-b
    return a,d
addn(2,3)

(5, 2)

In [21]:
def addn(a,b):
    s=a+b
    d=a-b
    return s,d
x,y = addn(2,3)
print(x)
print(y)

5
-1

In [22]:
def addn(a,b):
    s=a+b
    d=a-b
    p=a*b
    return s,d,p
addn(2,3)

(5, -1, 6)

In [23]:
x,y,z = addn(2,3)
print(x)
print(y)
print(z)

5
-1
6

lamnda parameters: expression

In [24]:
def fullName(fname='NA',mname='NA',lname='NA'):
    f=fname + '' + mname + '' + lname
    return f
fullName('Nishu','Kumari','Shukla')

'NishuKumariShukla'

In [25]:
lambda fname ,lname:fname + lname

In [26]:
concat = lambda fname,lname:fname + lname
concat('Rishi','Soni')

'RishiSoni'

In [28]:
concat = lambda fname, lname: fname + ' ' + lname
concat("Nisha","Shukla")

'Nisha Shukla'

In [29]:
x = lambda: print('hi')
x()

hi

In [31]:
marks = [12,10,13,17,5,9,1,8,15,17,20]
filter(lambda x:(x>=10),marks)

In [32]:
marks = [12,10,13,17,5,9,1,8,15,17,20]
list(filter(lambda x:(x>=10),marks))

[12, 10, 13, 17, 15, 17, 20]

Mutable(its change value and modification possible)
Immutable(Its not change value and modification not possible for ex-mobile otp)

List:ordered(indexed) Hetrogeneous and mutable(size and value) collection
Tuple: ordered ,hetrogeneous and mutable and immutable
dictionary
set

List

In [33]:
mylist = [1,2,3,4,'hello',True]
type(mylist)

list

In [34]:
mylist[4]

'hello'

In [35]:
mylist[0] = 15 #reassignment operator used maens value change its mutable
mylist

[15, 2, 3, 4, 'hello', True]

In [36]:
mylist.append(2+3j)
mylist

[15, 2, 3, 4, 'hello', True, (2+3j)]

In [37]:
l= list()
type(l)

list

In [38]:
l= list([2,4])
type(l)

list

In [39]:
mytuple = ('hello',2)
type(mytuple)

tuple

In [40]:
mytuple[0]

'hello'

In [41]:
mytuple[1]=20
mytuple

TypeError: 'tuple' object does not support item assignment

In [42]:
mytuple.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
mylist.remove(2+3j)
mylist

[15, 2, 3, 4, 'hello', True]

In [44]:
del mylist[0]

In [45]:
mylist

[2, 3, 4, 'hello', True]

page 29

In [1]:
mylist = [15,2,3,'hello',True]
mylist

[15, 2, 3, 'hello', True]

In [2]:
mylist.pop(2)

3

In [3]:
mylist

[15, 2, 'hello', True]

In [4]:
mylist = [15,2,True,'hi']
mylist

[15, 2, True, 'hi']

In [5]:
d = mylist.pop(2)
mylist

[15, 2, 'hi']

In [6]:
mylist.append(d)

In [7]:
mylist

[15, 2, 'hi', True]

Common Error: Name error , attribute error,positional error, Type error

String: String is collection of sequence
Collection:
      list
      tuple
      set
      dictionary
      string

Collection: mutable/immutable, same type(homogeneous) /different type(hetrogeneous)

List ---> a hetrogeneous collection which is mutable(size and value)

In [8]:
names=[]
type(names)

list

In [9]:
mylist1 = ['A',123,'B',87]
type(mylist1)

list

In [10]:
names

[]

In [11]:
names.append('akash')

In [12]:
names

['akash']

In [13]:
names.remove('akash')

In [14]:
names

[]

In [15]:
names = ['akash',1,'Tushar',12,'akash',9]
names

['akash', 1, 'Tushar', 12, 'akash', 9]

In [17]:
names[4] = 'Akash'
names

['akash', 1, 'Tushar', 12, 'Akash', 9]

In [18]:
names[0:1]

['akash']

In [20]:
names[0:2]

['akash', 1]

In [21]:
names[0:2:1]

['akash', 1]

In [22]:
marks = names[1:6:2]
marks

[1, 12, 9]

In [23]:
names[1:6]

[1, 'Tushar', 12, 'Akash', 9]

In [24]:
names[1:6]

[1, 'Tushar', 12, 'Akash', 9]

In [25]:
names[0:5:4]

['akash', 'Akash']

In [26]:
names[0:5:1]

['akash', 1, 'Tushar', 12, 'Akash']

In [27]:
names = ['akash',1,'Tushar',12,'akash',9]
marks=names[1:6:2]
marks

[1, 12, 9]

In [28]:
names[4] = 'Nitin'
names

['akash', 1, 'Tushar', 12, 'Nitin', 9]

In [29]:
names[-2]

'Nitin'

In [30]:
names[-3:-1]

[12, 'Nitin']

In [31]:
names

['akash', 1, 'Tushar', 12, 'Nitin', 9]

In [32]:
names[-5::2]

[1, 12, 9]

In [33]:
names[-2:]

['Nitin', 9]

In [34]:
names.append(78)

In [35]:
names

['akash', 1, 'Tushar', 12, 'Nitin', 9, 78]

In [36]:
names.insert(1,'kkkk')
names

['akash', 'kkkk', 1, 'Tushar', 12, 'Nitin', 9, 78]

In [40]:
names.insert(4,'nkk')
names

['akash', 'kkkk', 'kkk', 1, 'nkk', 'Tushar', 12, 'Nitin', 9, 78]

In [42]:
l1 = [1,2,3]
l2 = [9,99,0,98]
l1.extend(l2)
l1

[1, 2, 3, 9, 99, 0, 98]

In [43]:
l3 = [9,0,9]
l4 = [1,2,7]
l3 + l4

[9, 0, 9, 1, 2, 7]

In [44]:
l3 += l4
l3

[9, 0, 9, 1, 2, 7]

In [45]:
l5 = [1,25]
l5

[1, 25]

In [46]:
l3

[9, 0, 9, 1, 2, 7]

In [47]:
l3[-1]

7

In [49]:
l3[len(l3) -1]

7

In [50]:
del l3[0]

In [51]:
l3

[0, 9, 1, 2, 7]

tuple : ordered ,hetrogeneous, immutable

In [1]:
mytuple = (1,2,3)
mytuple[2]

3

In [2]:
mytuple[2]

3

In [4]:
mytuple = (1,'abc',True)
mytuple[1]='ABC'

TypeError: 'tuple' object does not support item assignment

In [5]:
mytuple.remove('abc')

AttributeError: 'tuple' object has no attribute 'remove'

In [6]:
mytuple.append(90)

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
months = ('Jan','Feb','M','A','May','June','July','Aug','Sep')
months[1:4]

('Feb', 'M', 'A')

In [8]:
months[0:5]

('Jan', 'Feb', 'M', 'A', 'May')

In [9]:
months[:5]

('Jan', 'Feb', 'M', 'A', 'May')

In [10]:
months[3:]

('A', 'May', 'June', 'July', 'Aug', 'Sep')

In [11]:
months[:]

('Jan', 'Feb', 'M', 'A', 'May', 'June', 'July', 'Aug', 'Sep')

In [12]:
months[::2]

('Jan', 'M', 'May', 'July', 'Sep')

In [13]:
t= (1,2,['abc','pqr'])
t[1]

2

In [14]:
t[2]

['abc', 'pqr']

In [15]:
t[2].remove('pqr')

In [16]:
t

(1, 2, ['abc'])

In [17]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
del t

In [19]:
months = ('Jan','Feb','M','A','May','June','July','Aug','Sep')
months[1]

'Feb'

In [20]:
for v in months:
    print(v)

Jan
Feb
M
A
May
June
July
Aug
Sep

In [21]:
for i in range(len(months)):
    print(months[i])

Jan
Feb
M
A
May
June
July
Aug
Sep

In [22]:
None in months

False

In [23]:
'A' in months

True

In [24]:
for i in range(len(months)):
    print('Element at index',i,months[i])

Element at index 0 Jan
Element at index 1 Feb
Element at index 2 M
Element at index 3 A
Element at index 4 May
Element at index 5 June
Element at index 6 July
Element at index 7 Aug
Element at index 8 Sep

In [25]:
for i in range(len(months)):
    print('element at index',i,months[i])

element at index 0 Jan
element at index 1 Feb
element at index 2 M
element at index 3 A
element at index 4 May
element at index 5 June
element at index 6 July
element at index 7 Aug
element at index 8 Sep

In [26]:
for i in range(len(months)):
    print('element at index',i,months[i])

element at index 0 Jan
element at index 1 Feb
element at index 2 M
element at index 3 A
element at index 4 May
element at index 5 June
element at index 6 July
element at index 7 Aug
element at index 8 Sep

Note: list used for Homogeneous (same type data) data and tuple used for Hetrogeneous data(different different type store data) & static type data also store

Dictionary: Its store key-pair value and unique 
Set: In list and tuple allows duplicate value but set allow unique allow.

Set: In list and tuple allows duplicate value but set allow unique allow.

Set is objet its contain unique value and its not allow index

In [27]:
enrol = {11,12,13}
type(enrol)

set

In [28]:
enrol = {}
type(enrol)

dict

In [29]:
enrol={11,12,13}
for v in enrol:
    print(v)

11
12
13

In [30]:
len(enrol)

3

In [31]:
enrol = {11,12,13,11,12}
len(enrol)

3

Dictionary: its contains key pair value

In [32]:
marks={'Ankit':10,'Rohit':9}
marks[0]

KeyError: 0

In [33]:
marks['Rohit']

9

In [34]:
marks['Rohit']

9

In [35]:
marks={'Ankit':10,'Rohit':8,'Rohit':9}
marks['Rohit']

9

In [ ]:
marks['Rohit'] = 15 #Updation or modification or mutable possible in dic

In [36]:
del marks['Rohit']

In [37]:
marks['ppp'] = 98
marks

{'Ankit': 10, 'ppp': 98}

In [38]:
marks.keys()

dict_keys(['Ankit', 'ppp'])

In [39]:
marks.keys()

dict_keys(['Ankit', 'ppp'])

In [40]:
set(marks['Ankit','aaa','ppp'])
marks.values()

KeyError: ('Ankit', 'aaa', 'ppp')

In [41]:
d1 = {1:'iii',2:'ooo'}
d2={4:'ooo'}
d1.update(d2)
d1

{1: 'iii', 2: 'ooo', 4: 'ooo'}

In [42]:
t = (1,2)
t.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [43]:
t = (1,2)
for v in d1:
    print(v)

1
2
4

In [44]:
d1 = {1:'iii',2:'ooo'}
d2 = {4:'ooo'}
d1.update(d2)
d1

{1: 'iii', 2: 'ooo', 4: 'ooo'}

In [45]:
t = (1,2)
t.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [46]:
t=(1,2)
for v in d1:
    print(v)

1
2
4

In [47]:
for v in d1:
    print(v,":",d1[v])

1 : iii
2 : ooo
4 : ooo