https://pynative.com/basic-python-quiz-for-beginners/

1. What is the output of the following code?
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

In [1]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

2. What is the output of the following code?
p, q, r = 10, 20 ,30
print(p, q, r)

In [2]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

3. What is the output of the following code?
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

In [3]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

4. What is the output of the following code?
for i in range(10, 15, 1):
  print( i, end=', ')

In [4]:
for i in range(10, 15, 1):
  print( i, end=', ')

10, 11, 12, 13, 14,

5. What is the output of the following code?
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

In [5]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

6. What is the output of the following code?
var = "James" * 2  * 3
print(var)

In [6]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

7. What is the output of the following code?
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

In [7]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

8. What is the output of the following
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

In [8]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

9. What is the output of the following code?
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

In [9]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

10. What is the output of the following code?
var= "James Bond"
print(var[2::-1])

In [10]:
var= "James Bond"
print(var[2::-1])

maJ

11. What is the output of the following code?
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

In [11]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

12. Which operator has higher precedence in the following list
% (Modulus)
 & (BitWise AND)
 ** (Exponent)   ryt ans
 > (Comparison)

13. What is the output of the following code
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

In [12]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

14. A string is immutable in Python?

Every time when we modify the string, Python Always create a new String and assign a new string to that variable.
True
 False

15. What is the output of the following code?
str = "pynative"
print (str[1:3])

In [13]:
str = "pynative"
print (str[1:3])

yn

16. Can we use the “else” block for for loop?

for example:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )


    option
    No
    Yes

17. The in operator is used to check if a value exists within an iterable object container such as a list. Evaluate to True if it finds a variable in the specified sequence and False otherwise.

True
 False

18. What is the Output of the following code?
for x in range(0.5, 5.5, 0.5):
  print(x)

In [14]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer