https://pynative.com/basic-python-quiz-for-beginners/

1. What is the output of the following code?
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

In [1]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

2. What is the output of the following code?
p, q, r = 10, 20 ,30
print(p, q, r)

In [2]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

3. What is the output of the following code?
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

In [3]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

4. What is the output of the following code?
for i in range(10, 15, 1):
  print( i, end=', ')

In [4]:
for i in range(10, 15, 1):
  print( i, end=', ')

10, 11, 12, 13, 14,

5. What is the output of the following code?
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

In [5]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

6. What is the output of the following code?
var = "James" * 2  * 3
print(var)

In [6]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

7. What is the output of the following code?
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

In [7]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

8. What is the output of the following
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

In [8]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

9. What is the output of the following code?
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

In [9]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

10. What is the output of the following code?
var= "James Bond"
print(var[2::-1])

In [10]:
var= "James Bond"
print(var[2::-1])

maJ

11. What is the output of the following code?
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

In [11]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

12. Which operator has higher precedence in the following list
% (Modulus)
 & (BitWise AND)
 ** (Exponent)   ryt ans
 > (Comparison)

13. What is the output of the following code
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

In [12]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

14. A string is immutable in Python?

Every time when we modify the string, Python Always create a new String and assign a new string to that variable.
True
 False

15. What is the output of the following code?
str = "pynative"
print (str[1:3])

In [13]:
str = "pynative"
print (str[1:3])

yn

16. Can we use the “else” block for for loop?

for example:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )


    option
    No
    Yes

17. The in operator is used to check if a value exists within an iterable object container such as a list. Evaluate to True if it finds a variable in the specified sequence and False otherwise.

True
 False

18. What is the Output of the following code?
for x in range(0.5, 5.5, 0.5):
  print(x)

In [14]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

https://pynative.com/basic-python-quiz-for-beginners/

1. What is the output of the following code?

In [1]:
p,q,r = 10,20,30
print(p,q,r)

10 20 30

2. What is the output of the following code?

In [2]:
var = "James Bond"
print(var[2::-1])

maJ

3. What is the output of the following code?

In [3]:
var = "James" * 2 * 3
print(var)

JamesJamesJamesJamesJamesJames

4. What is the output of the following code?

In [4]:
def calculate (num1, num2=4):
    res = num1 * num2
    print(res)

calculate(5,6)

30

5. What is the output of the following code?

In [7]:
sampleList = ["John","Kelly","Jessa"]
sampleList.append("Scott")
print(sampleList)

['John', 'Kelly', 'Jessa', 'Scott']

In [8]:
sampleList = ["John","Kelly","Jessa"]
sampleList.append(2,"Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

6. The in operator is used to check if a value exists within an iterable object container such as a list. Evaluate to True if it finds a variable in the specified sequence and False otherwise.

True, 
False

7. What is the output of the following code?

In [9]:
for i in range(10,15,1):
    print(i,end=',')

10,11,12,13,14,

8. What is the output of the following code

In [10]:
salary = 8000

def printSalary():
    salary = 12000
    print("Salary:",salary)
     
printSalary()
print("Salary:",salary)

Salary: 12000
Salary: 8000

Syntax of the if statement

if condition:
     statement 1
     statement 2
     statement n

In [1]:
number = 6
if number > 5:
    print(number * number)

print('Next lines of code')

36
Next lines of code

If – else statement

Syntax of the if-else statement

if condition:
    statement 1
else:
    statement 2

In [3]:
password = input('Enter password')

if password == "Pynative@12":
    print("Correct passwprd")
else:
    print("Incrrect Password")

Incrrect Password

Chain multiple if statement in Python

Syntax of the if-elif-else statement:

if condition-1:  
     statement 1 
elif condition-2:
     stetement 2 
elif condition-3:
     stetement 3 
     ...         
else:            
     statement

In [4]:
def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")

user_check(1)
user_check(2)
user_check(3)
user_check(4)

Admin
Editor
Guest
Wrong entry

Nested if-else statement

Syntax of the nested-if-else:

if conditon_outer:
    if condition_inner:
        statement of inner if
    else:
        statement of inner else:
    statement ot outer if
else:
    Outer else 
statement outside if block

Example: Find a greater number between two numbers

In [5]:
num1 = int(input('Enter first number'))
num2 = int(input('Enter second number'))

if num1 >= num2:
    if num1 == num2:
        print(num1,'and',num2,'are equal')
    else:
        print(num1, 'is greater than',num2)

else:
    print(num1,'is smaller than',num2)

7 is greater than 2

Single statement suites

In [6]:
number = 56
if number > 0: print("positive")
else: print("negative")

positive

Similar to the if statement, while loop also consists of a single statement, we can place that statement on the same line.

In [7]:
x = 1
while x <= 5: print(x,end=""); x = x+1

12345

for loop in Python

Using for loop, we can iterate any sequence or iterable variable. The sequence can be string, list, dictionary, set, or tuple.

for element in sequence:
    body of for loop

In [8]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

While loop in Python

In Python, The while loop statement repeatedly executes a code block while a particular condition is true.

Syntax of while-loop

while condition :
    body of while loop

Example to calculate the sum of first ten numbers

In [9]:
num = 10
sum = 0
i = 1
while i <= num:
    sum = sum + i
    i = i + 1
print("Sum of first 10 number is:",sum)

Sum of first 10 number is: 55

Break Statement in Python

The break statement is used inside the loop to exit out of the loop. It is useful when we want to terminate the loop as soon as the condition is fulfilled instead of doing the remaining iterations. It reduces execution time. Whenever the controller encountered a break statement, it comes out of that loop immediately

In [10]:
for num in range(10):
    if num > 5:
        print("stop processing.")
        break
    print(num)

0
1
2
3
4
5
stop processing.

Continue statement in python

The continue statement is used to skip the current iteration and continue with the next iteration.

In [11]:
for num in range(3,8):
    if num == 5:
        continue
    else:
        print(num)

3
4
6
7

Pass statement in Python

The pass is the keyword In Python, which won’t do anything. Sometimes there is a situation in programming where we need to define a syntactically empty block. We can define that block with the pass keyword.

In [12]:
months = ['January','June','March','April']
for mon in months:
    pass
print(months)

['January', 'June', 'March', 'April']

https://pynative.com/python-for-loop/

Syntax of for loop

for i in range/sequencee:
    statement 1
    statement 2
    statement n

In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

for loop with range()

The range() function is used with a loop to specify the range (how many times) the code block will be executed.

In [2]:
sum = 0
for i in range(2,22,2):
    sum = sum + i
print(sum)

110

In [3]:
numbers = [1,2,3,4,5]

for i in numbers:
    square = i ** 2
    print("Square of:",i,"is:",square)

Square of: 1 is: 1
Square of: 2 is: 4
Square of: 3 is: 9
Square of: 4 is: 16
Square of: 5 is: 25

Example: Calculate the average of list of numbers

In [4]:
numbers = [10,20,30,40,50]

sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

30.0

If-else in for loop

if condition:
    block of statements
else:
    block of statements

Example: Print all even and odd numbers

In [5]:
for i in range(1,11):
    if i % 2 == 0:
        print('Even number:',i)
    else:
        print('Odd Number: ',i)

Odd Number:  1
Even number: 2
Odd Number:  3
Even number: 4
Odd Number:  5
Even number: 6
Odd Number:  7
Even number: 8
Odd Number:  9
Even number: 10

Example: break the loop if number a number is greater than 15

In [6]:
numbers = [1,4,7,8,15,20,35,45,55]
for i in numbers:
    if i > 15:
        break
    else:
        print(i)

1
4
7
8
15

Continue Statement in for loop

In [7]:
name = "mariya mennen"
count = 0
for char in name:
    if char != 'm':
        continue
    else:
        count = count + 1

print('Total number of m is:',count)

Total number of m is: 2

Pass Statement in for loop

In [8]:
num = [1,4,5,3,7,8]
for i in num:
    pass

Else block in for loop

Example 1: Else block in for loop

In [9]:
for i in range(1,6):
    print(i)
else:
    print("Done")

1
2
3
4
5
Done

Example 2: Both break and else statement

In [10]:
count = 0
for i in range(1,6):
    count = count + 1
    if count > 2:
        break
    else:
        print(i)

else:
    print("Done")

1
2

Backward Iteration using the reversed() function

In [12]:
list1 = [10, 20, 30, 40]
for num in reversed(list1):
    print(num)
<em><span class="has-inline-color has-cyan-bluish-gray-color"></span></em>

SyntaxError: invalid syntax (3945779055.py, line 4)

Reverse for loop using range()

In [13]:
print("Reverse numbers using for loop")
num = 5
for num in (range(num,-1,-1)):
    print(num)

Reverse numbers using for loop
5
4
3
2
1
0

Example 3: Reverse a list using a loop

In [14]:
numbers = [1,2,3,4]
for i in numbers[::-1]:
    print(i)

4
3
2
1

Nested for loops

Syntax of nested for loops:
# outer for loop
for element in sequence 
   # inner for loop
   for element in sequence:
       body of inner for loop
   body of outer for loop
other statements

Example: Nested for loop to print the following pattern
*
* *
* * *
* * * *
* * * * *

In [15]:
rows = 5
for i in range(1,rows + 1):
    for j in range(1,i + 1):
        print("*", end="")
    print('')

*
**
***
****
*****

While loop inside for loop

Example: Print Multiplication table of a first 5 numbers using for loop and while loop

In [16]:
for i in range(1,6):
    print('Multiplication table of:',i)
    count = 1
    while count < 11:
        print(i* count,end='')
        count = count + 1
    print('\n')

Multiplication table of: 1
12345678910

Multiplication table of: 2
2468101214161820

Multiplication table of: 3
36912151821242730

Multiplication table of: 4
481216202428323640

Multiplication table of: 5
5101520253035404550

1.What is the output of print(abs(-45.300))

In [1]:
print(abs(-45.300))

45.3

2. What is the type of the following variable

x = -5j

In [3]:
x = -5j
print(type(x))

<class 'complex'>

3. What is the output of the following code
print(0b101)
print(0o10)
print(0x1F)

In [4]:
print(0b101)
print(0o10)
print(0x1F)

5
8
31

4. What is the output of the following math function
import math
print(math.ceil(252.4))
print(math.floor(252.4))

In [6]:
import math
print(math.ceil(252.4))
print(math.floor(252.4))

253
252

5. What is the output of the following code

print(int(2.999))

In [7]:
print(int(2.999))

2

6. What is the output of the following number conversion

z = complex(1.25)

In [8]:
z = complex(1.25)
print(z)

(1.25+0j)

7. In Python 3, the integer ranges from -2,147,483,648 to +2,147,483,647
True, False

In [9]:
type(42e3)

float

9. What is the output of the following isinstance() function
from numbers import Number
from decimal import Decimal
from fractions import Fraction

print(isinstance(2.0, Number))
print(isinstance(Decimal('2.0'), Number))
print(isinstance(Fraction(2, 1), Number))
print(isinstance("2", Number))

In [10]:
from numbers import Number
from decimal import Decimal
from fractions import Fraction

print(isinstance(2.0,Number))
print(isinstance(Decimal('2.0'),Number))
print(isinstance(Fraction(2,1),Number))
print(isinstance("2",Number))

True
True
True
False

11. What is the output of the following number comparison function call

print( (1.1 + 2.2) == 3.3 )

In [12]:
print((1.1 + 2.2) == 3.3)
print(1.1 + 2.2)

False
3.3000000000000003

12. What is the output of the following round() function call

print(round(100.2563, 3))
print(round(100.000056, 3))

In [13]:
print(round(100.2563,3))
print(round(100.000056,3))

100.256
100.0

https://pynative.com/python-string-quiz/